<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <a href="/user/myPage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/board">게시판</a>
        <a href="/user/purchase">공동구매</a>
        <a href="/user/chat">채팅</a>
    </div>
</body>
</html>