<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정하기</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Toast UI Editor CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #content {
            margin-left: 300px; /* 사이드바를 고려한 마진 */
            padding: 20px;
        }
        .form-box {
            max-width: 800px;
            margin: 0 auto;
        }
        .form-box h1 {
            text-align: center;
        }
        .form-box input[name="title"] {
            width: 96%;
            padding: 15px;
            font-size: 18px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        #editor {
            margin-bottom: 20px;
        }

        .form-box button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body class="grey-bg">
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <a href="/user/mypage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/flash_purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div>
    <div id="content">
        <form class="form-box" action="/user/edit_community?_method=PUT" method="post">
            <h1>수정하기</h1>
            <input name="id" value="<%= edit._id %>" type="hidden">
            <input name="title" value="<%= edit.title %>" placeholder="제목을 입력하세요">
            <div id="editor"></div>
            <textarea name="content" id="editorContent" hidden></textarea>
            <button type="submit" onclick="submitContent()">전송</button>
        </form>
    </div>

    <!-- Toast UI Editor JS -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '500px',
            initialEditType: 'wysiwyg', // WYSIWYG 모드가 기본값
            previewStyle: 'vertical',
            initialValue: `<%= edit.content %>` // 초기값으로 기존 글 내용을 로드
        });

        function submitContent() {
            const editorContent = editor.getHTML(); // 에디터 내용을 HTML 형식으로 가져오기
            document.querySelector('#editorContent').value = editorContent; // 숨겨진 textarea에 설정
        }
    </script>
</body>
</html>
