<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정하기</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        .font{
            font-family: "Hi Melody", sans-serif;
        }
    </style>
</head>
<body class="grey-bg">
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent font">쉐어 잇</span></p>
        <p><span class="share font">share eat,<br>share it!</span></p>
        <a href="/user/mypage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/flash_purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div>
    <form class="form-box" action="/user/edit_information?_method=PUT" method="post">
        <h4>수정하기</h4>
        <input name="id" value="<%=edit._id %>" style="display: none;">
        <input name="title" value="<%= edit.title%>">
        <input name="content" value="<%= edit.content%>">
        <button type="submit">전송</button>
    </form> 
    </body>
</html>