<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        body{
            background-color:#fff8e6;
        }
    </style>
</head>
<body>
    <div class="box-gray">
        <h1 class="center"><img src="/images/logo_non_bg.png" width="100px"><br>쉐어 잇</h1>
        <hr><br>
        <form action="/user/login" method="POST">
            <label for="username"></label><br>
            <input type="text" id="username" name="username" placeholder="아이디를 입력하세요."><br>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요."><br>
            <input type="submit" value="로그인">
            <input type="submit" value="회원가입">
        </form>
    </div>
</body>
</html>
