<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>
<body>
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <% if (isAuthenticated) { %>
            <a href="/user/mypage">마이 페이지</a>
            <a href="/user/logout">로그아웃</a>
            <a href="/user/community_board">게시판</a>
            <a href="/user/flash_purchase">공동구매</a>
            <a href="/user/chat/list">채팅</a>
        <% } else { %>
            <a href="/user/login">로그인</a>
            <a href="/user/signup">회원가입</a>
        <% } %>
    </div>
    <div id="onlymain">
        <!-- Main content here -->
        <video autoplay muted style="width:auto; height: 100vh; position: fixed;">
            <source src='/images/main1.mp4' ></video>
    </div>
</body>
</html>
