<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        .font{
            font-family: "Hi Melody", sans-serif;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent font">쉐어 잇</span></p>
        <p><span class="share font">share eat,<br>share it!</span></p>
        <% if (isAuthenticated) { %>
            <a href="/user/mypage">마이 페이지</a>
            <a href="/user/community_board">게시판</a>
            <a href="/user/flash_purchase">공동구매</a>
            <a href="/user/chat/list">채팅</a>
            <a href="/user/logout">로그아웃</a>
        <% } else { %>
            <a href="/user/login">로그인</a>
            <a href="/user/signup">회원가입</a>
        <% } %>
    </div>
    <div id="onlymain">
        <!-- Main content here -->
        <video autoplay muted style="width:auto; height: 100vh; position: fixed;">
            <source src='/images/main3.mp4' ></video>
    </div>
</body>
</html>
