<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });
    </script>
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        .font {
            font-family: "Hi Melody", sans-serif;
        }

        .purchase_list {
            float: right;
            width: 50%;
            height: 400px; /* 고정된 높이 설정 */
            margin-top: 30px;
            margin-left: 1px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            overflow-y: auto; /* 세로 스크롤 추가 */
        }

        .purchase_item {
            padding: 10px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        .purchase_item h3 {
            margin: 0;
            font-size: 1.2em;
            color: #333;
        }

        .purchase_item p {
            margin: 5px 0 0;
            font-size: 1em;
            color: #666;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent font">쉐어 잇</span></p>
        <p><span class="share font">share eat,<br>share it!</span></p>
        <a href="/user/myPage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/flash_purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div>
    <div id="content" class="mypage_design">
        <div class="user_img">
            <img src="<%= result.profile %>">
        </div>
        <div class="username_sign">
            <h1><%= result.username %> 님</h1>
            <a class="userinfo_change" href="/user/userinfo_change">회원정보 수정</a>
        </div>
        <div id="calendar"></div>
        <div class="purchase_list">
            <h2>공구 이력</h2>
            <hr>
            <% for (var i = 0; i < reserve.length; i++) { %>
                <div class="purchase_item">
                    <h3><%= reserve[i].product_name %></h3>
                    <p><%= reserve[i].date %></p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
