<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정기 공구</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <a href="/user/mypage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div>
    <div id="content">
        <div class="navbar">
            <a class="unselected" href="/user/flash_purchase">번개공구</a>
            <a class="selected" href="/user/regular_purchase">정기공구</a>
            <div class="right-1">
                <input class="search">
                <button class="search-send">검색</button>
            </div>
        </div>
        <hr>
        <div class="header">
            <h1 style="font-size: 50px;">정기공구</h1>
            <a class="selected right-2" href="/user/purchase">글쓰기</a>
        </div><hr>
    </div>
</body>
</html>
