<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        body{
            background-color:#fff8e6;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 3px;
        }
        .form-group label,
        .form-group input {
            width: 100%;
            text-align: center;
        }
        .form-group input {
            padding: 5px;
            box-sizing: border-box;
        }
        .form-box button,
        .form-box a {
            width: 100%;
            margin: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <form class="form-box" action="/user/edit_info?_method=PUT" method="post" enctype="multipart/form-data">
        <h1 class="center"><img src="/images/logo_non_bg.png" width="100px"><br>회원정보 수정</h1><hr><br>
        <div class="form-group">
            <label for="user_image">프로필사진 수정</label>
            <input type="file" name="profile" accept="image/*">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="변경할 비밀번호를 입력해주세요.">
        </div>
        <div class="form-group">
            <label for="phonenumber">전화번호</label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="변경할 전화번호를 입력하세요.">
        </div>
        <div class="form-group">
            <label for="address">주소</label>
            <input type="text" id="address" name="address" placeholder="변경할 주소를 입력하세요.">
        </div><br>
        <div class="form-group">
            <button type="submit">저장하기</button>
            <a class="cancel_button" href="/user/mypage">취소</a>
        </div>
    </form>
</body>
</html>

